
*.csv
*.pyc
*.docx
*.png
*.png
*.xlsx
resource/auto_searcher - Copy (2).ico
resource/auto_searcher - Copy.ico
resource/new_auto_searcher.ico
*.pkl
custom_keyword.txt
my_ftp.log
my_ftp.log
my_ftp.log
ftp_download/*
my_ftp_saves/*
sal.corefile
